*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-shadow: 6px 0px 1px rgb(10, 10, 10);
    color: transparent;
    background-color:rgb(121, 82, 45) ;
    background-image: url(../imagens/brazilian-flag-1420482.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    -webkit-background-clip: text;
    }

body{
    background-image: url(../imagens/cafe_img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgb(20, 20, 20);
    display: flex;
    height: 100vh;
    margin: auto;
    text-align: center;
    flex-direction: column;
}

#navbar{
    margin: 10px auto -20px;
    max-width: fit-content;
    text-align: center;
    font-size: 55px;
}

section{
    color: rgba(44, 25, 7, 0.832);
    background-color: rgba(255, 245, 240, 0.89);
    border:solid 3px rgba(44, 25, 7, 0.832) ;
    border-radius: 8px;
    width: 350px;
    height: 270px;
    margin: auto;
    font-family: sans-serif;
}

section p.subtile{
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

section h2{
    padding-bottom: 10px;
    margin: 10px 0;
    font-weight: bold;
    font-size: 25px;
}

.formulario{
    max-height: fit-content;
    margin: 15px 0;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

section div.dmail{
    max-width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 15px auto;
    border-bottom: solid 2px rgba(44, 25, 7, 0.832);
    padding-bottom: 3px;
}

section div.dmail input{
    outline: none;
    border: none;
    background-color: transparent;
}

section div.smail{
    max-width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 15px auto;
    border-bottom: solid 2px rgba(44, 25, 7, 0.832);
    padding-bottom: 3px;
}

section div.smail input{
    outline: none;
    border: none;
    background-color: transparent;
}

.smail{
    margin-right: 2px;
}

section div p.pmail{
    padding-right: 3px;
}

section p.subtitle{
    margin-bottom: 10px;
}


.botaodiv{
    background-color: transparent;
    cursor: pointer;
    color:rgba(44, 25, 7, 0.832) ;
    border: none;
    font-weight: bold;
    font-size: 20px;
    max-width: fit-content;
    margin: 20px auto 5px auto;
}

.botaodiv:hover{
    border-bottom: solid 2px rgba(44, 25, 7, 0.832);
    font-size: 140%;
    animation: ease-in-out;
    transition: .2s;
}